<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-vidth, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/spisok.css">
    <link rel="stylesheet" href="/shkaf.css">
    <link rel="stylesheet" href="/uroki.css">
    <link rel="stylesheet" href="/holod.css">
    <link rel="stylesheet" href="/jsnote.css">
    <title>{{ title }}</title>
</head>